// BOX PADDING
.box-padding {
    padding: $box-padding!important;
}
.box-padding-top {
    padding-top: $box-padding!important;
}
.box-padding-top-sm {
    padding-top: $box-padding-sm!important;
}
.box-padding-right {
    padding-right: $box-padding!important;
}
.box-padding-right-lg {
    padding-right: $box-padding-lg!important;
}
.box-padding-bottom {
    padding-bottom: $box-padding!important;
}
.box-padding-left {
    padding-left: $box-padding!important;
}
.box-margin {
    margin: $box-margin;
}
.box-margin-top {
    margin-top: $box-margin!important;
}
.box-margin-top-x-5 {
    margin-top: ($box-margin * 5)!important;
}
.box-margin-top-x-3 {
    margin-top: ($box-margin * 3)!important;
}
.box-margin-top-x-2 {
    margin-top: ($box-margin * 2)!important;
}
.box-margin-right {
    margin-right: $box-margin!important;
}
.box-margin-bottom {
    margin-bottom: $box-margin!important;
}
.box-margin-bottom-x-2 {
    margin-bottom: ($box-margin * 2)!important;
}
.box-margin-left {
    margin-left: $box-margin!important;
}
// LG
.box-margin-top-lg {
    margin-top: $box-margin-lg!important;   
}
.box-margin-bottom-lg {
    margin-bottom: $box-margin-lg!important;   
}
// SM
.box-margin-bottom-sm {
    margin-bottom: $box-margin-sm!important;   
}
.box-margin-top-sm {
    margin-top: $box-margin-sm!important;   
}