// MAIN CONTAINER
.main-wrap {
	// background-image: url("../img/bg_home_main.jpg");
	background-size: cover;
	background-position: center center;
	overflow: auto;
}
.main-container {
	overflow: auto;
	height: auto;
	position: relative;

	padding: 0 0 $box-padding 0;
}
.main-container-has-big-ad {
	//padding: 220px 0 20px 0;
}
.main-container-has-no-ad {
	//padding: 40px 0 20px 0;
}
.main-container-has-horizontal-ad {
	//padding-top: $box-padding-sm;
}

.post-main-wrap {
	padding: 4px;

	// @include border-radius($post-main-border-radius);
	background-color: rgba(255, 255, 255, .3);
}

.post-main{
	@include flexbox();
	@include flex-direction(column);
	@include align-content(center);
	@include align-items(center);
	@include justify-content(flex-end);

	height: $post-main-height;
	background-size: cover;
	background-position: center center;
	
	position: relative;
	z-index: 1;

	text-align: center;

	background-color: #000;
}
.post-main-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index:-1;

}
.post-main-content {

background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 22%, rgba(0,0,0,.8) 60%, rgba(0,0,0,.8) 100%);
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 22%,rgba(0,0,0,.8) 60%,rgba(0,0,0,.8) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 22%,rgba(0,0,0,.8) 60%,rgba(0,0,0,.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );




	// background-color: rgba(#000, .8);
	width: 100%;
	padding: 70px 15px 20px 15px;
}

.post-main > a {
	// padding: 20px;
}
.post-main-content > a > h2{
	// Padding deve ser no h2 para pegar o link em toda extremidade
	// padding: 20px 20px;
	margin: 0;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);

	color: #FFF;
	font-weight: regular;
	font-size: $post-main-title-size + 5;
	line-height: $post-main-title-line-height;
	font-family: $font-sans-serif;
}
.post-main-content > a{

}
// SMALL
.post-main-small-wrap {
	margin-top: $box-margin;
}
.post-main-small {
	@include flexbox();	
	@include flex-direction(row);

	@include align-items(center);

	padding: $post-main-small-padding;
	background-color: $post-main-small-bgcolor;
	@include border-radius($post-main-small-border-radius);

}
.post-main-small-avatar {
	width: auto;
	margin-right: $post-main-small-avatar-offset-right;
}
.post-main-small-avatar > a > img{
	width: $post-main-small-avatar-width;
}
.post-main-small-body {
	text-align: left;
}
.post-main-small-body > a > h3 {
	line-height: $post-main-small-line-height;
	font-size: $post-main-small-title-size;
	font-weight: $post-main-small-title-weight;
	color: $post-main-small-title-color;
}