body {
    // Fixed navbar offset
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none!important;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.navbar-nav > li > a {
    color: $main-color!important;
}
.navbar-nav > li > a:hover {
    color: darken($main-color, 20%)!important;
}
.label {
    $height: 20px;
	display: inline-block;
    height: $height;
    padding: 0 10px;
    border-radius: 999em;
    line-height: $height;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.label-default {
    background-color: $main-color;
    color: #FFF;
}
.label-sm {
    font-size: 9px;
    height: 20px;
}

.box-padding-top {
    padding-top: $box-padding;
}

.text-block-padding-top {
    margin-top: $text-block-padding;
}

.ad-horizontal-full {
    text-align: center;
    margin: 20px 0;
    height: 90px;
}

.side-col-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-compact {
    border-bottom: 1px solid darken(#FFF, 10%);
    overflow: hidden;
    height: auto;
    padding: $post-compact-padding;
    margin-bottom: 25px;
}

.post-compact-content {
    @include flexbox();
    @include flex-direction(column);
}
.post-compact-body > h2{
    margin: 0;
    margin-top: $post-compact-title-offset-up;
    line-height: $post-compact-title-line-height;
}

.post-compact-body > h2 > a {
    font-size: $post-compact-title-size;
    font-weight: $post-compact-title-weight;

    color: $post-compact-title-color;
}
.post-compact-body > span.pub-date {
    font-size: $post-compact-pub-date-size;
    font-weight: $post-compact-pub-date-weight;
    font-color: $post-compact-pub-date-color;
    margin-top: $post-compact-pub-date-offset-up;
    display: block;
}

.post-compact-footer {
    margin-top: 10px;
}
.post-compact-footer a {
    color: #000;
    font-size: 12px;
}
.post-compact-avatar{

}
.post-compact-avatar > a > img{
    width: 100%;
}
.post-compact-pub-date{
    color: darken(#FFF, 60%);
    font-size: 12px;
    text-align: left;    
}
.post-compact-share {
    color: #000;
    font-size: 12px;
    text-align: right;
}