body {
    // Fixed navbar offset
    padding-top: 50px;
    background-color: darken(#FFF, 4%);    
}
body, a {
    font-family: 'Lato', sans-serif!important;
}
a {
    color: $main-color;
    font-weight: bold;
	text-decoration: none!important;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.post-call-subtitle {
    color: $color-muted;
    font-size: 14px;
}
// ADS
.ad-horizontal-full {
    text-align: center;
    height: auto;
    width: 100%;
}
$color: darken(#FFF, 20%);
.navbar-search-input, .navbar-search-submit, .navbar-search-submit:hover {
    border: none;
    background: none;
    box-shadow: none!important;
    
}
.navbar-search-input, .navbar-search-input::-webkit-input-placeholder{
    color: $color;
    font-family: 'Slabo 27px', serif;
    font-size: 14px;
    font-style: italic;
}
.navbar-search-input {
    color: darken($color, 30%);
    font-weight: normal;
}
.navbar-search-submit, .navbar-search-submit:hover {
    color: $color;
}
.navbar-nav > li > a {
    color: $main-color!important;
}
.navbar-nav > li > a:hover {
    color: darken($main-color, 20%)!important;
}
.label {
    $height: 18px;
	display: inline-block;
    height: $height;
    padding: 0 10px;
    border-radius: 999em;
    line-height: ($height + 1);
    font-size: 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.label-default, .label-default:hover {
    background-color: $main-color;
    color: #FFF;
}
.label-default:hover {
    background-color: darken($main-color, 10%)!important;
}
.label-sm {
    font-size: 9px;
    height: 20px;
}

.text-block-padding-top {
    margin-top: $text-block-padding;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: $title-color;
}
.title-with-divider{
    padding-bottom: 12px;
    border-bottom: 1px solid $border-color;
}
.btn-share {
    color: $color-muted!important;
}
.post-view-title {
    font-size: 44px;
}
.post-view-body > p {
    font-size: 16px;
    line-height: 28px;
    color: lighten(#000, 35%);
}