    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
body {
    // Fixed navbar offset
    //padding-top: 50px;
    padding: 0;
    background-color: darken(#FFF, 5%);    
}
body, a {
    font-family: 'Lato', sans-serif!important;
}
a {
    color: $main-color;
    font-weight: bold;
	text-decoration: none!important;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

hr {
    height: 1px;
    background-color: $border-color;
    border: none!important;
    margin: $box-margin-sm 0;
}
// Engloba o header e o main
.container-topo {
    // background-image: url(../img/bg-hs.jpg);

    background-size: cover;
    background-position: center center;
}

.bg-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:-1;
}
.bg-overlay-40 {
    background-color: rgba(0, 0, 0, .4);
}
.bg-overlay-border-radius {
    @include border-radius($border-radius);
}

.post-call-subtitle {
    color: $color-muted;
    font-size: 14px;
}
// ADS
.ad-horizontal-full {
    text-align: center;
    height: auto;
    width: 100%;
}
$color: darken(#FFF, 20%);
.navbar-search-input, .navbar-search-submit, .navbar-search-submit:hover {
    border: none;
    background: none;
    box-shadow: none!important;
    
}
.navbar-search-input, .navbar-search-input::-webkit-input-placeholder{
    color: $color;
    font-family: 'Slabo 27px', serif;
    font-size: 14px;
    font-style: italic;
}
.navbar-search-input {
    color: darken($color, 30%);
    font-weight: normal;
}
.navbar-search-submit, .navbar-search-submit:hover {
    color: $color;
}
.navbar-nav > li > a {
    color: $main-color!important;
}
.navbar-nav > li > a:hover {
    color: darken($main-color, 20%)!important;
}
.label {
    $height: 18px;
	display: inline-block;
    height: $height;
    padding: 0 8px;
    border-radius: 999em;
    line-height: ($height + 1);
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.label-default, .label-default:hover {
    background-color: $main-color;
    color: #FFF;
}
.label-default:hover {
    background-color: darken($main-color, 10%)!important;
}
.label-light, .label-light:hover {
    background-color: darken(#FFF, 10%);
    color: $title-color;
}
.label-light:hover {
    background-color: darken(#FFF, 15%)!important;
}
.label-sm {
    font-size: 9px;
    height: 19px;
}
.label-lg {
    font-size: 11px;
    height: 20px;
}
.text-block-padding-top {
    margin-top: $text-block-padding;
}
.text-muted {
    color: $color-muted;
}
.title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: $title-color;
}
.title-with-divider{
    padding-bottom: 12px;
    border-bottom: 1px solid $border-color;
}
.btn-share {
    color: $color-muted!important;
}
.post-view-info {
    // background-color: red;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
}
.post-view-title {
    font-size: 42px;
    font-weight: normal;
    line-height: 45px;
}
.post-view-author-profile-picture {
    width: 30px;
    margin-top: -5px;
    padding-right: 5px;
}
.post-view-pubdate {
    color: $color-muted;
}
.post-view-author{
    // margin-left: 5px;
}
.post-view-body {
    font-size: 16px;
    line-height: 28px;
    color: lighten(#000, 35%);
}

.btn-share-lg > span.fa{
    font-size: 16px;
    padding-right: 5px;
}

.post-squared {
    @include border-radius($border-radius);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.post-squared-title > a > h3 {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    padding: 15px;
    min-height: 100px;
}
.post-squared-footer {
    font-size: 14px;
    font-weight: normal;
    color: #FFF;
    padding: 15px;
}
.post-squared-footer > a {
    color: #FFF;
    font-weight: bold;
    text-decoration: underline;
}
.post-squared-footer-pub-date {
    font-size: 12px;
    padding-left: 3px;
}
.post-squared-footer img {
    width: 25px!important;
    border: 1px solid #FFF;
}

.footer {
    background-color: darken(#FFF, 5%);
    padding: $box-padding-sm;
}

.deck-hero-container{
    background-position: top right;
    background-size: cover;
}

.deck-hero-container table td{
    // background-color: #000;
    // color: #FFF;
}

.title-with-avatar {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
}
.title-with-avatar > .avatar > img{
    width: 35px;
    height: auto;
}
.title-with-avatar > .avatar-sm > img{
    width: 30px;
    height: auto;
}
.title-with-avatar > h2{
    font-size: 20px;
}
.title-with-avatar > h1{
    margin: 0;
    font-size: 42px;
}
.title-with-avatar > a > h3, .title-with-avatar > h3{
    margin: 0;
    font-size: 14px;
}
.title-with-avatar > h1,
.title-with-avatar > h2,
.title-with-avatar > a > h3{
    margin-left: 10px;
}

.deck-list{
}
.deck-list-unfixed {
    display: relative;
    width: 100%;
    height: auto;
}
.deck-list-fixed {
    position: fixed;
    top: 0;
    margin-top: 10px;
    overflow: auto;
}
.deck-list-wrap{
    
}