$main-color: #3498db;
$border-radius: 4px;
$title-color: lighten(#000, 20%);
$border-color: darken(#FFF, 10%);

// COLORS
$color-muted: darken(#FFF, 50%);
$positive-color: #3498db;
// deve ser do mesmo tamanho do gutter(30px) do bootstrap para ficar harmonioso
$box-margin: 30px;
$box-padding: $box-margin;

$box-margin-sm: ($box-margin / 2);
$box-padding-sm: $box-margin-sm;

$box-margin-lg: ($box-margin * 2);
$box-padding-lg: $box-margin-lg;

// espaço entre blocos de texto
$text-block-padding: 5px;
$text-block-padding-lg: $text-block-padding * 2;

// MAIN
$post-main-border-radius: 4px;
$post-main-height: 250px;
$post-main-title-size: 22px;
$post-main-title-line-height: 30px;

// MAIN SMALL
$post-main-small-padding: 15px;
$post-main-small-bgcolor: #FFF;
$post-main-small-border-radius: $border-radius;
$post-main-small-line-height: 22px;
$post-main-small-title-color: ($title-color);
$post-main-small-title-size: 16px;
$post-main-small-title-weight: bold;
$post-main-small-avatar-offset-right: 18px;
$post-main-small-avatar-width: 60px;

// LATEST POSTS
$post-latest-border-radius: $border-radius;
$post-latest-title-size: 22px;
$post-latest-title-weight: bold;
$post-latest-title-color: $title-color;
$post-latest-title-line-height: 22px;
$post-latest-title-offset-up: 10px;

$post-latest-pub-date-size: 12px;
$post-latest-pub-date-weight: normal;
$post-latest-pub-date-color: $color-muted; 
$post-latest-pub-date-offset-up: 8px;

$post-latest-action-buttons-size: 12px;
$post-latest-action-buttons-icon-size: 14px;
$post-latest-action-buttons-font-weight: normal;
$post-latest-action-buttons-color: $color-muted;

// COMPACT POSTS
$post-compact-padding: 15px 0;
$post-compact-title-size: 15px;
$post-compact-title-line-height: 20px; 
$post-compact-title-weight: bold;
$post-compact-title-color: $title-color; 
$post-compact-title-offset-up: 0;

$post-compact-avatar-width: 60px;

$post-compact-pub-date-size: 12px;
$post-compact-pub-date-weight: normal;
$post-compact-pub-date-color: $color-muted; 
$post-compact-pub-date-offset-up: 4px;