$main-color: #e67e22;

// deve ser do mesmo tamanho do gutter do bootstrap para ficar harmonioso
$box-padding: 25px;

// espaço entre blocos de texto
$text-block-padding: 5px;
$text-block-padding-lg: $text-block-padding * 2;

// MAIN
$main-post-border-radius: 4px;
$main-post-height: 250px;

// MAIN SMALL
$post-main-small-padding: 15px;
$post-main-small-bgcolor: #FFF;
$post-main-small-border-radius: 4px;
$post-main-small-line-height: 18px;
$post-main-small-title-color: #000;
$post-main-small-title-size: 16px;
$post-main-small-title-weight: bold;

// LATEST POSTS
$post-latest-title-size: 22px;
$post-latest-title-weight: bold;
$post-latest-title-color: #000; 

$post-latest-pub-date-size: 12px;
$post-latest-pub-date-weight: normal;
$post-latest-pub-date-color: #000; 
$post-latest-pub-date-offset-up: 5px;

// COMPACT POSTS
$post-compact-padding: 0px 0 10px;
$post-compact-title-size: 15px;
$post-compact-title-line-height: 18px; 
$post-compact-title-weight: bold;
$post-compact-title-color: #000; 
$post-compact-title-offset-up: 0;

$post-compact-pub-date-size: 12px;
$post-compact-pub-date-weight: normal;
$post-compact-pub-date-color: #000; 
$post-compact-pub-date-offset-up: 5px;